/* Top Bar */

.topBar {
  display: flex;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1px solid #3D9DF2; /* Electric blue border */
  background-color: #262626; /* Background color, adjust as needed */
}

.connectButton {
  align-content: left;
  color: #F2F2F2; /* Text color, adjust as needed */
  margin-bottom: 15px;
}

/* Home Page Structure */
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  /*height: 100vh; /* Full height of the viewport */
  margin: 0 auto; /* Helps in centering the wrapper if needed */
}

.centeredContent {
  max-width: 1200px; /* Max width for your content */
  width: 100%; /* Makes it responsive */
  /*margin: 20px; /* Spacing around the content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.Title {
  display: flex;
  flex-direction: column; /* Stack the title and subtitle vertically */
  margin-top: 5px; /* Space it a bit from the element above it */
  align-items: left; /* Center-align the text */
  margin-bottom: 20px; /* Adds some space below the title section */
  max-width: 1200px; /* Max width for your content */
}

.cardSubtitle {
  font-size: 22px;
  color: #F2F2F2; /* Keeps the color consistent with the title */
  text-align: left; /* Ensures subtitle is center-aligned */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
}

.contentArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Add some space around the items if needed */
}

.menu {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust the space between cards */
  order: 2; /* Switch sides */
  margin-right: 10px; /* Reduce space on the right */
}

.mainContent {
  width: 1026px; /* Hero Image Size */
  min-width: 1026px;
  height: 578px; /* Hero Image Size */
  background-color: #1a1a1d; /* Background color */
  order: 1; /* Switch sides */
  margin-left: 10px; /* Adjust as needed to reduce space */
  margin-right: 20px; /* Increase or decrease as per requirement */
  border: 1px solid #F2F2F2;
}

.videoIframe {
  width: 100%; /* Make the video iframe take up 100% of its parent's width */
  height: 100%; /* Make the video iframe take up 100% of its parent's height */
  border: none; /* Remove border */
}

/* Funding Goal */
.fundingCard {
  background-color: #262626; /* Matching the body's background */
  border-radius: 0 0 20px; /* Elegant curves */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 100px;
  color: #F2F2F2; /* Set default text color to light gray */
}
/* Existing styles for the primary funding meter */
.fundingMeterContainer {
  width: 100%;
  border: 1px solid #3D9DF2;
  border-radius: 1px;
  background-color: #1a1a1d;
  height: 7px;
  position: relative;
  margin-bottom: 5px; /* Added to separate the stretch goal meter from the primary meter */
  transition: box-shadow 0.3s ease-in-out;
}

.fundingMeterContainer:hover { /* Apply hover effect to both containers */
  box-shadow: 0 0 8px #3D9DF2; /* Change to a vibrant gold for the hover effect */
}

.bonusMeterContainer:hover { /* Apply hover effect to both containers */
  box-shadow: 0 0 8px #8C8A52; /* Change to a vibrant gold for the hover effect */
}

.fundingMeter {
  background-color: #3D9DF2;
  height: 5px;
  border-radius: 1px;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: width 0.3s ease-in-out;
}

/* Styles for the bonus (stretch goal) meter */
.bonusMeterContainer {
  width: 100%;
  border: 1px solid #8C8A52; /* Golden border for distinction */
  background-color: #1a1a1d; /* Matching background color */
  height: 7px;
  margin-top: 8px; /* Space between the primary meter and stretch meter */
  position: relative;
  width: 100%;
}

.bonusMeter {
  background-color: #8C8A52; /* Golden color for the stretch goal meter */
  height: 5px;
  position: absolute;
  left: 0;
  top: 1px; /* Align within its container */
  transition: width 0.3s ease-in-out; /* Smooth transition for filling effect */
  height: 100%; /* Fill the container's height */
}

.goalRaised {
  font-size: 1.5rem; /* Larger font size for emphasis */
  color: #3D9DF2; 
  font-weight: bold; /* Make it bold to stand out */
  text-align: left; /* Center it within its container */
  margin-top: 10px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.goalAmount {
  font-size: 0.9rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* A gold color to draw attention */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

/* Members Joined DAO */
.memberCard {
  background-color: #262626; /* Matching the body's background */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 100px;
  color: #F2F2F2; /* Set default text color to light gray */
}

.memberNumber {
  font-size: 1.5rem; /* Larger font size for emphasis */
  color: #F2F2F2; 
  font-weight: bold; /* Make it bold to stand out */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.members {
  font-size: 0.9rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* A gold color to draw attention */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

/* Time Left in Campaign */
.daysCard {
  background-color: #262626; /* Matching the body's background */
  border-radius: 0 0 20px; /* Elegant curves */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 100px;
  color: #F2F2F2; /* Set default text color to light gray */
}

.daysLeft {
  font-size: 1.5rem; /* Larger font size for emphasis */
  color: #F2F2F2; 
  font-weight: bold; /* Make it bold to stand out */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.daysToGo {
  font-size: 0.9rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* A gold color to draw attention */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}
/* Call to Action */
.backingCard {
  background-color: #262626;
  border: 1px solid #F2F2F2;
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease;
  width: 400px;
  height: 50px;
  color: #F2F2F2;
  padding: 9px;
  cursor: pointer;
  position: relative; /* Needed for absolute positioning of the child element */
}

.hoverText {
  color: #fff;
  bottom: -30px; /* Adjusted to move the text lower */
  left: 0;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.hoverText ul {
  list-style-type: circle; /* Changes the bullet style */
  padding-left: 20px; /* Adjusts spacing to the left of the bullets */
}

.hoverText a {
 color: #fff;
 text-decoration: underline;
}

.hoverText li {
  margin-bottom: 10px; /* Adds space between list items */
}

.backingCard:hover {
  border-color: #3D9DF2; /* Bright electric blue for the border */
  transform: translateY(-5px); /* Slight lift effect */
}
/* Banner Gauge */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #262626; /* Dark theme background */
}

.bannerItem {
  position: relative;
  border: 1px solid #F2F2F2;
  height: 50px;
  width: 30%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerIcon {
  width: 120px; /* Example size, adjust as needed */
  height: 80px; 
  /* Example size, adjust as needed */
  background-color: #F2F2F2; /* Placeholder for the icon, replace with actual image */
}

/* VictoryBanner.module.css */
@keyframes scrollText {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

.congratsBanner {
  position: fixed;
  top: 0; /* Adjust based on where you want the banner to appear */
  width: 100%;
  height: auto;
  background-color: #262626; /* Dark background for visibility */
  color: #F2F2F2; /* Light text color for contrast */
  white-space: nowrap;
  padding: 1px 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollText 15s linear infinite;
}

/* New styles for filled sections */
.fillColor {
  background-color: #D6D6D6; /* Muted form of grey for fill */
}

.fillLevel {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #D6D6D6; /* Fill color */
  transition: width 0.5s ease;
}

.milestoneBox {
  position: absolute;
  background-color: #333; /* Darker background for contrast */
  color: #F2F2F2; /* Light color text */
  padding: 10px 10px;
  /*transform: translateY(-100%); /* Position above the fill level */
  /*margin-top: -10px; /* Ensure it does not touch the bar edges */
  z-index: 2; /* Ensure it's above other elements in the bannerItem */
}
/* Page Transition */
.newPageA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid #3D9DF2; 
  padding: 0 30px; /* Healthy margins on either end */
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #262626; /* Assuming a dark theme; adjust as needed */
}

.newPageB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #3D9DF2; /* Electric blue border */
  padding: 0 30px; /* Healthy margins on either end */
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #262626; /* Assuming a dark theme; adjust as needed */
  font-size: 21px;
}
/* Funding Goals */

/* Reward Tier Rows */
.tierRow {
  display: flex;
  justify-content: space-between; /* Distributes space between left and right containers */
  align-items: center; /* Aligns items vertically */
  gap: 20px; /* Space between left and right containers */
  margin-bottom: 20px; /* Space between each row */
  flex-direction: row; /* Stacks the containers vertically on smaller screens */
}

.tierContainer {
  display: flex;
  position: relative; /* Add this line */
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto; /* Ensure there's enough space for your content + button */
  min-height: 300px; /* Example minimum height */
}

.tierImageContainer, .tierInfoContainer {
  display: flex;
  justify-content: center; /* Adjust as needed for content */
  align-items: center; /* Adjust as needed for content */
  width: 100%; /* Ensures container fills its parent's width */
  width: 902px; /* Fixed width for the image */
  height: 302px; /* Fixed height for the image */
  border: 1px solid #3D9DF2;
}

.tierImage {
  width: 900px; /* Fixed width for the image */
  height: 300px; /* Fixed height for the image */
  max-width: 100%; /* Allows the image to be responsive */
  height: auto; /* Maintains aspect ratio */
}

.tierRightInfo {
  display: flex;
  justify-content: center; /* Centers the button or additional info */
  align-items: center;
  width: 100%; /* Stretches to fill the container */
  padding: 20px; /* Adjust padding as needed */
}

.tierText {
  position: absolute;
  top: 0;
  left: 0;
}

.tierRightButton {
  cursor: pointer;
  background-color: #262626;
  border: 1px solid #F2F2F2;
  transition: border-color 0.3s ease, transform 0.3s ease;
  color: #F2F2F2;
  padding: 9px;
  max-width: 400px;
  /* Remove properties related to layout and positioning */
}

.newTierLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5px;
  border-top: 1px solid #3D9DF2; 
  padding: 0 30px; /* Healthy margins on either end */
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #262626; /* Assuming a dark theme; adjust as needed */
}

.tierRightButtonWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex; /* Make it a flex container */
  gap: 5px; /* Creates space between flex items */
}

.tierRightButton:hover {
  border-color: #3D9DF2; /* Bright electric blue for the border */
  transform: translateY(-5px); /* Slight lift effect */
}