/* Main wrapper style */
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  /*height: 100vh; /* Full height of the viewport */
  margin: 0 auto; /* Helps in centering the wrapper if needed */
}

.topBar {
  display: flex;
  width: 100%;
  background-color: #262626; /* Background color, adjust as needed */
}

.connectButton {
  align-content: left;
  color: #F2F2F2; /* Text color, adjust as needed */
}

/* Centered content area, you can use this for your main content */
.centeredContent {
  max-width: 1200px; /* Max width for your content */
  width: 100%; /* Makes it responsive */
  /*margin: 20px; /* Spacing around the content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.Title {
  display: flex;
  flex-direction: column; /* Stack the title and subtitle vertically */
  align-items: center; /* Center-align the text */
  margin-bottom: 20px; /* Adds some space below the title section */
}

.cardSubtitle {
  font-size: 1.1rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* Keeps the color consistent with the title */
  text-align: center; /* Ensures subtitle is center-aligned */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
}

.fundingCard {
  background-color: #262626; /* Matching the body's background */
  border-radius: 0 0 20px; /* Elegant curves */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 100px;
  color: #F2F2F2; /* Set default text color to light gray */
}

.fundingMeterContainer {
  width: 100%; /* Full width to represent the total goal */
  border: 1px solid #3D9DF2; /* Border around the entire funding meter */
  border-radius: 1px; /* Rounded corners for the container */
  background-color: #1a1a1d; /* Background color for the unfilled part */
  height: 7px; /* Height of the container */
  position: relative; /* Establishes a positioning context for .fundingMeter */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for shadow */
}

.fundingMeterContainer:hover {
  box-shadow: 0 0 8px #3D9DF2; /* Glowing effect on hover */
}

.fundingMeter {
  background-color: #3D9DF2; /* Bright blue color for successful progress indication */
  height: 5px; /* Height of the filled part */
  border-radius: 1px; /* Rounded corners for a polished look */
  position: absolute; /* Positioned absolutely within .fundingMeterContainer */
  top: 1px; /* Align top with container's border */
  left: 1px; /* Align left with container's border */
  transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}

.amountRaised {
  font-size: 1.5rem; /* Larger font size for emphasis */
  color: #3D9DF2; 
  font-weight: bold; /* Make it bold to stand out */
  text-align: left; /* Center it within its container */
  margin-top: 10px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.goalAmount {
  font-size: 0.9rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* A gold color to draw attention */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.memberCard {
  background-color: #262626; /* Matching the body's background */
  border-radius: 0 0 20px; /* Elegant curves */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 100px;
  color: #F2F2F2; /* Set default text color to light gray */
}

.memberNumber {
  font-size: 1.5rem; /* Larger font size for emphasis */
  color: #F2F2F2; 
  font-weight: bold; /* Make it bold to stand out */
  text-align: left; /* Center it within its container */
  margin-top: 10px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.members {
  font-size: 0.9rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* A gold color to draw attention */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.daysCard {
  background-color: #262626; /* Matching the body's background */
  border-radius: 0 0 20px; /* Elegant curves */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 100px;
  color: #F2F2F2; /* Set default text color to light gray */
}

.daysLeft {
  font-size: 1.5rem; /* Larger font size for emphasis */
  color: #F2F2F2; 
  font-weight: bold; /* Make it bold to stand out */
  text-align: left; /* Center it within its container */
  margin-top: 10px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.daysToGo {
  font-size: 0.9rem; /* Larger font size for emphasis */
  color: #F2F2F2; /* A gold color to draw attention */
  text-align: left; /* Center it within its container */
  margin-top: 5px; /* Space it a bit from the element above it */
  margin-bottom: 5px; /* And a bit from the element below */
  margin-left: 10px;
}

.backingCard {
background-color: #262626; /* Matching the body's background */
  border: 1px solid #F2F2F2; /* Muted blue for the border */
  margin: 0.02rem;
  transition: border-color 0.3s ease, transform 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 50px;
  color: #F2F2F2; /* Set default text color to light gray */
  padding: 9px;
}

.backingCard:hover {
  border-color: #3D9DF2; /* Bright electric blue for the border */
  transform: translateY(-5px); /* Slight lift effect */
}

.contentArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Add some space around the items if needed */
}

.menu {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the space between cards */
  order: 2; /* Switch sides */
  margin-right: 10px; /* Reduce space on the right */
}

.mainContent {
  width: 1024px; /* Hero Image Size */
  min-width: 1024px;
  height: 576px; /* Hero Image Size */
  background-color: #1a1a1d; /* Background color */
  order: 1; /* Switch sides */
  margin-left: 10px; /* Adjust as needed to reduce space */
  margin-right: 20px; /* Increase or decrease as per requirement */
  border: 1px solid #557c9e; /* Muted blue for the border */
}

.videoIframe {
  width: 100%; /* Make the video iframe take up 100% of its parent's width */
  height: 100%; /* Make the video iframe take up 100% of its parent's height */
  border: none; /* Remove border */
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border: 1px solid #3D9DF2; /* Electric blue border */
  padding: 0 30px; /* Healthy margins on either end */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #262626; /* Assuming a dark theme; adjust as needed */
}

.bannerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  gap: 20px; /* Space between icon and message */
}

.bannerIcon {
  width: 120px; /* Example size, adjust as needed */
  height: 80px; /* Example size, adjust as needed */
  background-color: #3D9DF2; /* Placeholder for the icon, replace with actual image */
}

.subBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #3D9DF2; /* Electric blue border */
  padding: 0 30px; /* Healthy margins on either end */
  width: 100%;
  margin-bottom: 20px;
  background-color: #262626; /* Assuming a dark theme; adjust as needed */
}

.parentContainer {
  display: flex;
  justify-content: space-between; /* Aligns children (left and right containers) on opposite ends */
  height: 100vh; /* Full viewport height */
}

.tierContainerLeft {
  display: flex;
  flex-direction: column; /* Stack the cards vertically */
  align-items: center; /* Center the cards horizontally within the container */
  gap: 20px; /* Space between cards */
}

.tierContainerRight {
  display: flex;
  flex-direction: column; /* Stack the cards vertically */
  align-items: center; /* Center the cards horizontally within the container */
}

.tierI {
  width: 902px; /* Width of each card */
  height: 302px; /* Height of each card */
  border: 1px solid #3D9DF2; /* Electric blue border */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-sizing: border-box; /* Includes border in the width and height calculations */
}

.tierRightI {
  display: flex;
  flex-direction: column; /* Keep this to stack children vertically */
  justify-content: flex-start; /* This aligns children to the top */
  align-items: right; /* This places  the children horizontally */
  width: 902px; /* Width of each card */
  height: 302px; /* Height of each card */
  box-sizing: border-box; /* Includes border in the width and height calculations */
}

.tierII {
  width: 902px; /* Width of each card */
  height: 302px; /* Height of each card */
  border: 1px solid #3D9DF2; /* Electric blue border */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-sizing: border-box; /* Includes border in the width and height calculations */
  margin-top: 20px;
}

.tierRightII {
  display: flex;
  flex-direction: column; /* Keep this to stack children vertically */
  justify-content: flex-start; /* This aligns children to the top */
  align-items: right; /* This places  the children horizontally */
  width: 902px; /* Width of each card */
  height: 302px; /* Height of each card */
  box-sizing: border-box; /* Includes border in the width and height calculations */
  margin-top: 20px;
}

.tierIII {
  width: 902px; /* Width of each card */
  height: 302px; /* Height of each card */
  border: 1px solid #3D9DF2; /* Electric blue border */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  box-sizing: border-box; /* Includes border in the width and height calculations */
  margin-top: 20px;
}

.tierRightIII {
  display: flex;
  flex-direction: column; /* Keep this to stack children vertically */
  justify-content: flex-start; /* This aligns children to the top */
  align-items: right; /* This places  the children horizontally */
  width: 902px; /* Width of each card */
  height: 302px; /* Height of each card */
  box-sizing: border-box; /* Includes border in the width and height calculations */
  margin-top: 20px;
}

.tierRightInfo {

}

.tierRightButton {
  background-color: #262626; /* Matching the body's background */
  border: 1px solid #F2F2F2; /* Muted blue for the border */
  transition: border-color 0.3s ease, transform 0.3s ease; /* Include color in transition */
  width: 400px;
  height: 50px;
  color: #F2F2F2; /* Set default text color to light gray */
  padding: 9px;
  margin-left: 10px;
  margin-right: 10px;
}

.tierRightButton:hover {
  border-color: #3D9DF2; /* Bright electric blue for the border */
  transform: translateY(-5px); /* Slight lift effect */
}

/* This ensures that the icons container does not disrupt layout */
.socialIcons {
  display: inline-block;
}

.socialIcons svg {
  width: 25px;
  height: 25px;
  fill: #557c9e; /* Gold color for the icons */
}
